.about_wapper {
  padding-top: 10rem;
}

.about__title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  color: #1f2937;
  margin-bottom: 15rem;
  & .acent {
    color: #3730a3;
  }
}

.abaut__info {
  display: flex;
  gap: 5rem;
}

.about__img {
  min-width: 44rem;
  min-height: 62.2rem;
}

.about__list {
  display: flex;

  &-item_title {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.56;
    color: #1f2937;
    margin-bottom: 2rem;
  }
  &_sub-title {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 1.33;
    color: #6b7280;
  }
}
