footer {
  padding: 11rem 0 11rem 0;
  background-color: #fef2f2;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h2 {
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
    text-align: center;
    color: #374151;
  }
  & p {
    margin-bottom: 10rem;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
    color: #9ca3af;
  }
}

.social__list {
  display: flex;
  gap: 5rem;

  &-item {
    transition: all 1.5s;
  }
  &-item:hover {
    transform: scale(1.2);
    transition: all 1.2s;
  }
}
