.hero {
  padding: 10rem 0;
  &__text {
    margin-bottom: 4rem;
  }
}

.hero__wrap {
  display: flex;
  flex-direction: row;
}

.hero__title {
  display: flex;
  flex-direction: column;
  max-width: 622px;
  margin-right: 8rem;
}

.hero__name {
  margin-left: 11.2rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  color: #4338ca;
  margin-bottom: 4rem;
}
.hero__name::before {
  content: "";
  transform: translate(-110%, 1.5rem);
  display: block;
  width: 10.1rem;
  height: 0.1rem;
  background-color: #4338ca;
}

h1 {
  font-weight: bold;
  font-size: 7.2rem;
  line-height: 1;
  color: #1f2937;
  margin-bottom: 4rem;
}

.hero__title-text {
  min-width: 55.3rem;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 1.56;
  color: #6b7280;
}

.hero__btns {
  display: flex;
}
