.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 3.2rem;
  background: #ffffff;
  border: 1px solid #3730a3;
  border-radius: 6px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;

  &:hover {
    background-color: #7b61ff;
    color: #fff;
  }
  &:focus {
    background-color: #7b61ff;
    color: #fff;
  }
}

.btn_acent {
  background-color: #3730a3;
  color: #fff;

  &:hover {
    background-color: #7b61ff;
  }
}
